# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore Cowrie specific files
cowrie/cowrie_data/log/
cowrie/cowrie_data/downloads/
cowrie/cowrie_data/tty/
cowrie/cowrie_data/honeyfs/fs.pickle.bak

# Ignore environment variables file
.env

# Ignore Docker specific files (if any)
*.swp
.DS_Store

# Ignore IDE files
.idea/
.vscode/

# Ignore virtual environment
virtualenv/
virtual-env/
v_env/
env/

# Ignore backup files
*.bak
*.orig
*.save

# Ignore any other sensitive or large files
